@font-face{
    font-family:'AvenirNextLTPro-Regular';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf),
        url(../../assets/fonts/AvenirNextLTPro.ttf)
}
@font-face{
    font-family:'AvenirNextLTPro-Demi';
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf)
    url(../../assets/fonts/AvenirNextLTProDemi.ttf)

}
@font-face{
    font-family:'AvenirNextLTPro-Bold';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf)
    url(../../assets/fonts/AvenirNextLTProBold.ttf)

}

