$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;    
$apiKey:"aedc5d1c-c5a5-46ea-acbc-70154d20e5ef";

$bandsite-black:#323232;
$silver:#AFAFAF;
$white:#FFFFFF;
$bandsite-darkblack:#000000;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;
$pink:#cb2491;
$error:#D22D2D;