@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.header{
    font-family: AvenirNextLTPro-Demi;
    background-color:$bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:6rem;
    font-size: 1rem;
    line-height: 1rem;

    @include tablet{
      flex-direction: row;
      justify-content: flex-start;
      padding-left:2.25rem;
      padding-right:2.25rem;
      gap:3rem;
    }
    @include desktop{
      padding-left: 5rem;
    }
   
    &__nav{
      display: flex;
      justify-content: flex-start;

      @include tablet{
        height:95%;
        // padding: 1px;
      }
    }
    &__logo{
      align-self: center;
      @include desktop{
        padding-left: 2.25rem;
        // padding-right: 16px;
      }
    }
    &__list{
      width:320px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      @include tablet{
        // width:0;
      }
      @include desktop{
        gap:1.5rem;
      }
    }

    &__item{
      list-style: none;
      color:$white;
      height:2rem;
      width:100%;
      text-align: center;
      
      &:hover{
        color: $white;
        border-bottom: 4px solid $white;
      }

      &:active{
        color:$white;
        font-weight: bold;
        border-bottom: 4px solid $white;
      }
      @include tablet{
        height:5.5rem;
        align-content: center;
      }
      @include desktop{

      }
    }

    &__link{
      font-family: AvenirNextLTPro-Bold;
      color:$mercury;
      margin-bottom:1rem;
      margin-top:1rem;

      @include desktop{
        margin-right: 2.25rem;
        margin-left: 2.25rem;
     
    }
  }
}

.hero{
  position:relative;
  height:12rem;   
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
 
  @include tablet{
    height:32rem;
  }
  @include desktop{
    height:48rem;
  }

  &__overlay{
    position:absolute;
    background-color: $bandsite-black;
    height:100%;
    width:100%;
    opacity: 0.5;
  }

 
  &__title{  
    z-index: 1;
    font-family: AvenirNextLTPro-Bold;
    color: $white;
    padding: 1rem;
    font-weight: 700;

    @include tablet{
      font-size: 60px;
      padding:3rem; //check
    }
    @include desktop{
      font-size: 60px;
      padding:8rem;
    }
  }
}

.about{
    &__title{
      padding: 1.5rem 1rem 1rem 1rem;
      font-family: AvenirNextLTPro-Bold ;
      font-size: 1.5rem;
      line-height: 32px;
      font-weight: 700;
      color:$bandsite-black;
      width:100%;

       @include tablet{
       padding:48px 36px 36px 36px;
       font-family: AvenirNextLTPro-Bold ;
       font-size: 36px;
       line-height: 44px;
       font-weight: 700;
       color:$bandsite-black;
      }
      @include desktop{
       padding:48px 160px 36px 160px;
       font-family: AvenirNextLTPro-Bold ;
       font-size: 36px;
       line-height: 44px;
       font-weight: 700;
       color:$bandsite-black;
      }
    }
    &__img{
      padding:0 16px 16px 16px;
      width:100%;
      height:12rem;

     @include tablet{
        display: flex;
        padding: 0 80px 36px 80px;
        width:95%;
        height:400px;
        margin:0 auto;
      }
      @include desktop{
        display: flex;
        padding: 0 80px 36px 80px;
        margin:0 auto;
        width:80%;
        height:580px;
      }
    }
    &__para{
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 1rem;
      font-family:AvenirNextLTPro-Bold ;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      font-style: bold;
      color:$bandsite-black;
      display: flex;

      @include tablet{
        display: flex;
        margin:0 auto;
        padding: 0 80px 0 80px;
        font-family:AvenirNextLTPro-Demi ;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        font-style: bold;
        color:$bandsite-black;
        width:95%;
      }
      @include desktop{
        display: flex;
        margin:0 auto;
        padding: 0 80px 0 80px;
        font-family:AvenirNextLTPro-Demi ;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color:$bandsite-black;
        width:80%;
      }
    }
    &__para--modified{
      @include tablet{
        display: flex;
        margin:0 auto;
        padding: 16px 80px 36px 80px;
        width:95%;
        font-family:AvenirNextLTPro-Demi ;
        font-size: 19px;
        font-weight: 600;
        line-height: 22px;
        color:$bandsite-black;
      }
      @include desktop{
        display: flex;
        margin:0 auto;
        padding: 16px 80px 36px 80px;
        width:80%;
        font-family:AvenirNextLTPro-Demi ;
        font-size: 19px;
        font-weight: 600;
        line-height: 22px;
        color:$bandsite-black;
      }
    }
}
.beesarticle{
  &__title{
    @include font-style('AvenirNextLTPro-Demi',14px,600,22px,$bandsite-black);
    padding: 16px;
    

    @include tablet{
      @include font-style('AvenirNextLTPro-Demi',24px,600,32px,$bandsite-black);
      padding: 0 36px;
      width:84%;
      margin:0 auto; 
     
    } 
    @include desktop{
      @include font-style('AvenirNextLTPro-Demi',24px,600,32px,$bandsite-black); 
      padding: 0 10rem;
      width:92%;
      margin:0 auto; 
    } 
  }

    &__paracontainer{
      display:flex;
      flex-direction: column;

      @include tablet{
        flex-direction: row;
        padding:36px 101px 12px 101px;
        // width:100%;
        gap:2rem;
      }
      @include desktop{
        flex-direction: row;
        padding:0 10rem;
        width:80%;
      }
    }
   
    &__para{
      @include font-style('AvenirNextLTPro-Regular',13px,400,18px,$bandsite-black); 
      padding: 0 1rem 1rem 1rem;

      @include tablet{
        @include font-style('AvenirNextLTPro-Regular',14px,400,22px,$bandsite-black);
        padding:0;

      }
      @include desktop{
        @include font-style('AvenirNextLTPro-Regular',14px,400,22px,$bandsite-black);
        padding:0;
        // padding: 0 10rem;
        // width:92%;
        // margin:0 auto; 
      }
    }
}

.gallery{
    background-color: $alabaster;

  &__title{
    font-family:  AvenirNextLTPro-Bold ;
    font-weight: 700;
    padding: 8px 16px 16px 16px;
    color:$bandsite-black;

    @include tablet{
      font-family:  AvenirNextLTPro-Bold ; //check here
      padding: 32px 36px 36px 36px;
      
    }
    @include desktop{
      padding: 32px 160px 36px 160px;
      font-family: AvenirNextLTPro-Demi ;
      font-size: 36px;
      line-height: 44px;
      font-weight: 700;
      color:$bandsite-black;
    }
    
  }
  &__imgcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;


    @include tablet{
      flex-direction: row;
      justify-content: space-between;
      padding: 0 36px 0 36px;
      height: 580px;  
    }
    @include desktop{
      flex-direction: row;
      justify-content: space-between;
      padding: 0 160px 0 160px;
      height: 800px;  
    }
  }
  &__img{
    width:100%;
    height:12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include tablet{

      width: 13rem;
      height: 10rem;
      padding:0;     
      
    }
    @include desktop{
      width: 19rem;
      height: 15rem; 
    }
  }
}

.footer{
  background-color: $bandsite-black;
  margin-top: 8px;
  display: flex;
  flex-direction: column;

  &__title{
      padding: 24px 16px 16px 16px;
      font-family: AvenirNextLTPro-Bold ;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color:$white;

      @include tablet{
        font-family: AvenirNextLTPro-Demi ;
        padding:24px 0 16px 0;
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        color:$white;
      }

      @include desktop{
      font-family: AvenirNextLTPro-Demi ;
      font-size: 36px;
      line-height: 44px;
      font-weight: 700;
      color:$white;
      }
  }
  &__imgcontainer{
    display: flex;
    gap:1rem;
    padding-left: 16px;
    padding-right: 16px;

    @include tablet{
      align-items: center;
      width:45%;
    }
    @include desktop{
      align-items: center;
      width:50%;
    }
  }
  &__parabold{
    font-family: AvenirNextLTPro-Bold ;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color:$white;
    padding: 16px;    

    @include tablet{
      font-family:AvenirNextLTPro-Demi ;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 0 0 36px 0;
    }
    @include desktop{
      font-family:AvenirNextLTPro-Demi;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 0 0 36px 0;
    }
  }
  &__para--contact{
    @extend .footer__parabold;
    font-family: AvenirNextLTPro-Regular;
    padding:0 16px 0 16px;
    @include tablet{
      padding: 0 36px 0 0;
    }
    @include desktop{
      padding: 0 36px 0 0;
    }
  }
  &__para--email{
    @extend .footer__para--contact;
    padding: 16px;

    @include tablet{
      padding: 36px 36px 36px 0;
    }
    @include desktop{
      padding: 16px 16px 16px 0;
    }
  }
  &__logo{
    padding: 16px;
    width:120px;

    @include tablet{
      width:0;
      height:0;
      visibility: hidden;
      padding: 0;
    }
    @include desktop{
      width:0;
      height:0;
      padding: 0;
      visibility: hidden;
    }
  }
  &__logo1{
    visibility: hidden;

    @include tablet{
      visibility: visible;
      width:120px;
      height:20px;

    }
    @include desktop{
      visibility: visible;
      width:120px;
      height:20px;
      flex-grow:2;
    }
  }
  &__copyright{
    font-family: AvenirNextLTPro-Regular;
    font-size: 11px;
    line-height: 18px;
    color:$white;
    padding: 16px; 

    @include tablet{
    font-family: AvenirNextLTPro-Regular;
    font-size: 14px;
    line-height: 20px;
    color:$white;
    padding: 0 36px 80px 36px;  
    }
    @include desktop{
      font-family: AvenirNextLTPro-Regular;
      font-size: 14px;
      line-height: 20px;
      color:$white;
      padding: 0 160px 80px 160px;  
    }
  }
  &__card1{
    @include tablet{
      display: flex;
      padding: 40px 36px 36px 36px ;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop{
      display: flex;
      justify-content: flex-start;
      gap:2.5rem;
      padding:40px 160px 20px 160px;
    }
  }
  &__cardcontainer{
    @include tablet{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      padding: 0 36px 40px 36px;

    }
    @include desktop{
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      padding: 0 160px 40px 160px;
      gap:4rem;
    }
  }
  &__card2{
    @include tablet{
      display: flex;
      flex-direction: column;
    }
    @include desktop{
      display: flex;
      flex-direction: column;
    }
  }
}