@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.header{
    font-family: 'AvenirNextLTPro-Demi';
    background-color:$bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:6rem;
    font-size: 1rem;
    line-height: 1rem;

    @include tablet{
      flex-direction: row;
      justify-content: flex-start;
      padding-left:2.25rem;
      padding-right:2.25rem;
      gap:3rem;
    }
    @include desktop{
      padding-left: 5rem;
      flex-direction: row;
      justify-content: flex-start;
    }
   
    &__nav{
      display: flex;
      justify-content: flex-start;

      @include tablet{
        height:95%;
      }
    }
    &__logo{
      align-self: center;

      @include desktop{
        padding-left: 2.25rem;
      }
    }
    &__list{
      width:320px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      @include tablet{
      }
      
      @include desktop{
        gap:1.5rem;
      }
    }

    &__item{
      list-style: none;
      color:$white;
      height:2rem;
      width:100%;
      text-align: center;
      
      &:hover{
        color: $white;
      }

      &:active{
        color:$white;
        font-weight: bold;
        border-bottom: 4px solid $white;
      }
      @include tablet{
        height:5.5rem;
        align-content: center;
      }
      @include desktop{
        height:5.5rem;
        align-content: center;
      }
    }

    &__link{
      font-family: 'AvenirNextLTPro-Bold';
      color:$mercury;
      margin-bottom:1rem;
      margin-top:1rem;

      &:hover{
        color:$pink;
      }

      @include desktop{
        margin-right: 2.25rem;
        margin-left: 2.25rem;
     
    }
      @include tablet{
        
      }
  }
}

.hero{
  position:relative;
  height:12rem;   
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
 
  @include tablet{
    height:32rem;
  }
  @include desktop{
    height:48rem;
  }

  &__overlay{
    position:absolute;
    background-color: $bandsite-black;
    height:100%;
    width:100%;
    opacity: 0.5;
  }

 
  &__title{  
    z-index: 1;
    font-family: 'AvenirNextLTPro-Bold';
    color: $white;
    padding: 1rem;
    font-weight: 700;

    @include tablet{
      font-size: 60px;
      padding:3rem; 
    }
    @include desktop{
      font-size: 60px;
      padding:8rem;
    }
  }
}

.about{
    &__title{
      padding: 1.5rem 1rem 1rem 1rem;
      @include font-style('AvenirNextLTPro-Bold',24px,700,32px,$bandsite-black);
      width:100%;

       @include tablet{
       padding:48px 36px 36px 36px;
       @include font-style('AvenirNextLTPro-Bold',36px,700,44px,$bandsite-black);
      }

      @include desktop{
       padding:48px 160px 36px 160px;
       @include font-style('AvenirNextLTPro-Bold',36px,700,44px,$bandsite-black);
      }
    }

    &__img{
      padding:0 16px 16px 16px;
      width:100%;
      height:12rem;

     @include tablet{
        display: flex;
        padding: 0 80px 36px 80px;
        width:95%;
        height:25rem;
        margin:0 auto;
      }
      @include desktop{
        display: flex;
        padding: 0 80px 36px 80px;
        margin:0 auto;
        width:80%;
        height:36.25rem;
      }
    }
    &__para{
      @include font-style('AvenirNextLTPro-Bold',13px,400,20px,$bandsite-black);
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      font-style: bold;
      display: flex;

      @include tablet{
        display: flex;
        margin:0 auto;
        padding: 0 80px 0 80px;
        @include font-style('AvenirNextLTPro-Demi',24px,600,32px,$bandsite-black);
        font-style: bold;
        width:95%;
      }
      @include desktop{
        @include font-style('AvenirNextLTPro-Demi',24px,600,32px,$bandsite-black);
        display: flex;
        margin:0 13.75rem;
        padding: 0;
        width:55%;
      }
    }
    &__para--modified{
      @include tablet{
        @include font-style('AvenirNextLTPro-Demi',19px,600,22px,$bandsite-black);
        display: flex;
        margin:0 auto;
        padding: 1rem 5rem 2.25rem 5rem;
        width:95%;
        
      }
      @include desktop{
        @include font-style('AvenirNextLTPro-Demi',19px,600,22px,$bandsite-black);
        display: flex;
        margin:0 auto;
        padding: 1rem 5rem 2.25rem 5rem;
        width:80%;
      }
    }
}
.beesarticle{
  &__title{
    @include font-style('AvenirNextLTPro-Demi',14px,600,22px,$bandsite-black);
    padding: 1rem;
    

    @include tablet{
      @include font-style('AvenirNextLTPro-Demi',24px,600,32px,$bandsite-black);
      padding: 0 2.25rem;
      width:84%;
      margin:0 auto; 
     
    } 
    @include desktop{
      @include font-style('AvenirNextLTPro-Demi',24px,600,32px,$bandsite-black); 
      padding: 0 10rem;
      width:92%;
      margin:0 auto; 
    } 
  }

    &__paracontainer{
      display:flex;
      flex-direction: column;

      @include tablet{
        flex-direction: row;
        padding:2.25rem 6.3125rem 0.75rem 6.3125rem;
        gap:2rem;
      }
      @include desktop{
        flex-direction: row;
        padding:2.25rem 12.5rem 0.75rem 12.9rem;
        gap:2rem;
      }
    }
   
    &__para{
      @include font-style('AvenirNextLTPro-Regular',13px,400,18px,$bandsite-black); 
      padding: 0 1rem 1rem 1rem;

      @include tablet{
        @include font-style('AvenirNextLTPro-Regular',14px,400,22px,$bandsite-black);
        padding:0;
        text-align:left;
      }

      @include desktop{
        @include font-style('AvenirNextLTPro-Regular',14px,400,200%,$bandsite-black);
        padding:0;
        width:47%;
        text-align:left;
     }
    }
    &__para--modifier{
      @include tablet{

      }
      @include desktop{
        width:47%;
      }
    }
}

.gallery{
    background-color: $alabaster;

  &__title{
    font-family:  'AvenirNextLTPro-Bold' ;
    font-weight: 700;
    padding: 0.5rem 1rem 1rem 1rem;
    color:$bandsite-black;

    @include tablet{
      font-family:  'AvenirNextLTPro-Bold' ; 
      padding: 2rem 2.25rem 2.25rem 2.25rem;
      
    }
    @include desktop{
      padding: 2rem 5rem 2.25rem 5rem;
      @include font-style('AvenirNextLTPro-Bold',36px,700,44px,$bandsite-black);
    }
    
  }
  &__imgcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;


    @include tablet{
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2.25rem 0 2.25rem;
      height: 33.25rem;  
    }
    @include desktop{
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5rem 0 5rem;
      height: 50%;   
    }
  }
  &__img{
    width:100%;
    height:12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    transition: filter 0.3s ease-in-out;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%); 
    }

    @include tablet{

      width: 32%;
      height: 10rem;
      padding:0;
      
    }
    @include desktop{
      width: 33%;
      height: 26%; 
      padding-bottom:2rem;
      padding-left: 0;
      padding-right: 2rem;
    }
  }
}

.footer{
  background-color: $bandsite-black;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;

  &__title{
      padding: 24px 16px 16px 16px;
      @include font-style('AvenirNextLTPro-Bold',24px,700,32px,$white);
      
      @include tablet{
        @include font-style('AvenirNextLTPro-Demi',36px,700,44px,$white);
        padding:24px 0 16px 0;
      }

      @include desktop{
        @include font-style('AvenirNextLTPro-Demi',36px,700,44px,$white);
        padding:0;
      }
  }
  &__imgcontainer{
    display: flex;
    gap:1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet{
      align-items: center;
      width:45%;
      padding:0.5rem;
    }
    @include desktop{
      align-items: center;
      width:50%;
    }
  }
  &__parabold{
    @include font-style('AvenirNextLTPro-Bold',13px,400,18px,$white);
    padding: 1rem;    

    @include tablet{
      @include font-style('AvenirNextLTPro-Demi',14px,400,20px,$white);
      padding: 0 0 2.25rem 0;
    }

    @include desktop{
      @include font-style('AvenirNextLTPro-Demi',14px,400,20px,$white);
      padding: 0 0 2.25rem 0;
    }
  }
  &__para--contact{
    @extend .footer__parabold;
    font-family: 'AvenirNextLTPro-Regular';
    padding:0 1rem 0 1rem;

    @include tablet{
      padding: 0 2.25rem 0 0;
    }
    @include desktop{
      padding: 0 2.25rem 0 0;
    }
  }
  &__para--email{
    @extend .footer__para--contact;
    padding: 1rem;

    @include tablet{
      padding: 2.25rem 2.25rem 2.25rem 0;
    }
    @include desktop{
      padding: 1rem 1rem 1rem 0;
    }
  }
  &__email{
    text-decoration: none;
    color:$white;
  }
  &__logo{
    padding: 1rem;
    width:7.5rem;

    @include tablet{
      width:0;
      height:0;
      visibility: hidden;
      padding: 0;
    }
    @include desktop{
      width:0;
      height:0;
      padding: 0;
      visibility: hidden;
    }
  }
  &__logo1{
    visibility: hidden;

    @include tablet{
      visibility: visible;
      width:7.5rem;
      height:1.25rem;
      flex-grow:2;
      align-self: center;

    }
    @include desktop{
      visibility: visible;
      width:7.5rem;
      height:1.25rem;
      flex-grow:2;
      align-self: center;
    }
  }
  &__copyright{
    @include font-style('AvenirNextLTPro-Regular',11px,200,18px,$white);
    padding: 1rem; 

    @include tablet{
      @include font-style('AvenirNextLTPro-Regular',14px,400,20px,$white);
      padding: 0 2.25rem 5rem 2.25rem;  
    }
    @include desktop{
      @include font-style('AvenirNextLTPro-Regular',14px,400,20px,$white);
      padding: 0 10rem 5rem 10rem;  
    }
  }
  &__card1{
    @include tablet{
      display: flex;
      padding: 2.5rem 2.25rem 2.25rem 2.25rem ;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop{
      display: flex;
      justify-content: flex-start;
      gap:2.5rem;
      padding:2.5rem 10rem 1.25rem 10rem;
    }
  }
  &__cardcontainer{
    @include tablet{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      padding: 0 2.25rem 2.5rem 2.25rem;

    }
    @include desktop{
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      padding: 0 10rem 2.5rem 10rem;
      gap:4rem;
    }
  }
  &__card2{
    @include tablet{
      display: flex;
      flex-direction: column;
    }
    @include desktop{
      display: flex;
      flex-direction: column;
    }
  }
}