@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf), url(../assets/fonts/AvenirNextLTPro.ttf);
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf), url(../assets/fonts/AvenirNextLTProDemi.ttf);
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf), url(../assets/fonts/AvenirNextLTProBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  font-family: AvenirNextLTPro-Demi;
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 6rem;
  width: 100vw;
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
    padding-left: 36px;
    padding-right: 36px;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 160px;
  }
}
.header__nav {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .header__nav {
    height: 95%;
    padding: 1px;
  }
}
.header__list {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 768px) {
  .header__list {
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__list {
    gap: 1.5rem;
  }
}
.header__item {
  list-style: none;
  color: #FFFFFF;
}
.header__link {
  font-family: AvenirNextLTPro-Bold;
  color: #E1E1E1;
  padding: 8px;
}
.header__link:hover {
  color: #FFFFFF;
}
.header__link:active {
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 4px solid #FFFFFF;
}

.hero {
  position: relative;
  height: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    height: 32rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 48rem;
  }
}
.hero__overlay {
  position: absolute;
  background-color: #323232;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.hero__header {
  z-index: 1;
  font-family: AvenirNextLTPro-Bold;
  color: #FFFFFF;
  padding: 16px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero__header {
    font-size: 60px;
    padding: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    font-size: 60px;
    padding: 8rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery {
    padding-left: 36px;
  }
}
.gallery__header {
  font-family: AvenirNextLTPro-Bold;
  font-weight: 700;
  padding: 24px 16px 16px 16px;
}
.gallery__imgcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gallery__imgcontainer {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .gallery__imgcontainer {
    flex-direction: row;
  }
}
.gallery__img {
  width: 100%;
  height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 15rem;
    height: 10rem;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    width: 15rem;
    height: 10rem;
  }
}/*# sourceMappingURL=bio.css.map */