@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../assets/fonts/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
* {
  font-family: "Avenir", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  font-family: "Avenir";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  color: #FFFFFF;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 5rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__nav {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .header__nav {
    height: 95%;
  }
}
.header__logo {
  align-self: center;
  width: 120px;
  height: 20px;
}
@media (min-width: 1280px) {
  .header__logo {
    width: 120px;
    height: 20px;
  }
}
.header__list {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .header__list {
    gap: 1.5rem;
  }
}
.header__item {
  list-style: none;
  color: #FFFFFF;
  height: 2rem;
  width: 100%;
  text-align: center;
}
.header__item:hover {
  color: #FFFFFF;
}
.header__item:active {
  color: #FFFFFF;
  font-family: "Avenir";
  font-weight: 700;
  border-bottom: 4px solid #FFFFFF;
}
@media (min-width: 768px) {
  .header__item {
    height: 5.5rem;
    align-content: center;
  }
}
@media (min-width: 1280px) {
  .header__item {
    height: 5.5rem;
    align-content: center;
  }
}
.header__link {
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #E1E1E1;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.header__link:hover {
  color: #cb2491;
  font-weight: 700;
}
@media (min-width: 1280px) {
  .header__link {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
}
.footer {
  background-color: #323232;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.footer__title {
  padding: 24px 16px 16px 16px;
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__title {
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #FFFFFF;
    padding: 24px 0 16px 0;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #FFFFFF;
    padding: 0;
  }
}
.footer__imgcontainer {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .footer__imgcontainer {
    align-items: center;
    width: 45%;
    padding: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__imgcontainer {
    align-items: center;
    width: 50%;
  }
}
.footer__parabold, .footer__para--contact, .footer__para--email {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer__parabold, .footer__para--contact, .footer__para--email {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 0 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__parabold, .footer__para--contact, .footer__para--email {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 0 2.25rem 0;
  }
}
.footer__para--contact, .footer__para--email {
  font-family: "Avenir";
  font-weight: 400;
  padding: 0 1rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__para--contact, .footer__para--email {
    padding: 0 2.25rem 0 0;
  }
}
@media (min-width: 1280px) {
  .footer__para--contact, .footer__para--email {
    padding: 0 2.25rem 0 0;
  }
}
.footer__para--email {
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer__para--email {
    padding: 2.25rem 2.25rem 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__para--email {
    padding: 1rem 1rem 1rem 0;
  }
}
.footer__email {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__logo {
  padding: 1rem;
  width: 7.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    width: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
  }
}
.footer__logo1 {
  visibility: hidden;
}
@media (min-width: 768px) {
  .footer__logo1 {
    visibility: visible;
    width: 7.5rem;
    height: 1.25rem;
    flex-grow: 2;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .footer__logo1 {
    visibility: visible;
    width: 7.5rem;
    height: 1.25rem;
    flex-grow: 2;
    align-self: center;
  }
}
.footer__copyright {
  font-family: "Avenir";
  font-size: 11px;
  font-weight: 200;
  line-height: 18px;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 2.25rem 5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 10rem 5rem 10rem;
  }
}
@media (min-width: 768px) {
  .footer__card1 {
    display: flex;
    padding: 2.5rem 2.25rem 2.25rem 2.25rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__card1 {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    padding: 2.5rem 10rem 1.25rem 10rem;
  }
}
@media (min-width: 768px) {
  .footer__cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.25rem 2.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 10rem 2.5rem 10rem;
    gap: 4rem;
  }
}
@media (min-width: 768px) {
  .footer__card2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .footer__card2 {
    display: flex;
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    height: 32rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 48rem;
  }
}
.hero__overlay {
  position: absolute;
  background-color: #323232;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.hero__title {
  z-index: 1;
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-family: "Avenir";
    font-size: 60px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    padding: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-family: "Avenir";
    font-size: 60px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    padding: 8rem;
  }
}

.about__title {
  padding: 1.5rem 1rem 1rem 1rem;
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #323232;
  width: 100%;
}
@media (min-width: 768px) {
  .about__title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #323232;
  }
}
@media (min-width: 1280px) {
  .about__title {
    padding: 3rem 10rem 2.25rem 10rem;
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #323232;
  }
}
.about__img {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  height: 12rem;
}
@media (min-width: 768px) {
  .about__img {
    display: flex;
    padding: 0 5rem 2.25rem 5rem;
    width: 95%;
    height: 25rem;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .about__img {
    display: flex;
    padding: 0 5rem 2.25rem 5rem;
    margin: 0 auto;
    width: 80%;
    height: 36.25rem;
  }
}
.about__para {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #323232;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-style: bold;
  display: flex;
}
@media (min-width: 768px) {
  .about__para {
    display: flex;
    margin: 0 auto;
    padding: 0 5rem 0 5rem;
    font-family: "Avenir";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #323232;
    font-style: bold;
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .about__para {
    font-family: "Avenir";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #323232;
    display: flex;
    margin: 0 13.75rem;
    padding: 0;
    width: 55%;
  }
}
@media (min-width: 768px) {
  .about__para--modified {
    font-family: "Avenir";
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    color: #323232;
    display: flex;
    margin: 0 auto;
    padding: 1rem 5rem 2.25rem 5rem;
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .about__para--modified {
    font-family: "Avenir";
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    color: #323232;
    display: flex;
    margin: 0 auto;
    padding: 1rem 5rem 2.25rem 5rem;
    width: 80%;
  }
}

.beesarticle__title {
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .beesarticle__title {
    font-family: "Avenir";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #323232;
    padding: 0 2.25rem;
    width: 84%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .beesarticle__title {
    font-family: "Avenir";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #323232;
    padding: 0 10rem;
    width: 92%;
    margin: 0 auto;
  }
}
.beesarticle__paracontainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .beesarticle__paracontainer {
    flex-direction: row;
    padding: 2.25rem 6.3125rem 0.75rem 6.3125rem;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .beesarticle__paracontainer {
    flex-direction: row;
    padding: 2.25rem 12.5rem 0.75rem 12.9rem;
    gap: 2rem;
  }
}
.beesarticle__para {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #323232;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .beesarticle__para {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #323232;
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .beesarticle__para {
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    color: #323232;
    padding: 0;
    width: 47%;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .beesarticle__para--modifier {
    width: 47%;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__title {
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #323232;
  padding: 0.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #323232;
    padding: 2rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding: 2rem 5rem 2.25rem 5rem;
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #323232;
  }
}
.gallery__imgcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gallery__imgcontainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.25rem 0 2.25rem;
    height: 33.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__imgcontainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
    height: 50%;
  }
}
.gallery__img {
  width: 100%;
  height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  transition: filter 0.3s ease-in-out;
  filter: grayscale(100%);
}
.gallery__img:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__img {
    width: 32%;
    height: 10rem;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    width: 33%;
    height: 26%;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }
}

.conversation {
  padding: 1rem;
}
@media (min-width: 768px) {
  .conversation {
    padding: 2.25rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .conversation {
    padding: 5rem;
    padding-bottom: 0;
  }
}
.conversation__title {
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #323232;
}
@media (min-width: 768px) {
  .conversation__title {
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #323232;
  }
}
@media (min-width: 1280px) {
  .conversation__title {
    font-family: "Avenir";
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #323232;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .form {
    padding: 2.25rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .form {
    padding: 2.25rem 15.625rem 0 15.625rem;
  }
}
.form__partition {
  display: flex;
  flex-direction: row;
}
.form__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 15%;
  border-radius: 50%;
  margin: 0.5rem;
  margin-top: 2rem;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .form__avatar {
    height: 4rem;
    width: 10%;
  }
}
@media (min-width: 1280px) {
  .form__avatar {
    height: 4rem;
    width: 10%;
  }
}
.form__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__table {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__namelable {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #AFAFAF;
  padding: 1rem 1rem 0.25rem 0;
}
.form__name {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  padding: 0.75rem;
  height: 2.25rem;
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .form__name {
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .form__name {
    height: 3rem;
  }
}
.form__name:active {
  border: 1px solid #323232;
}
.form__name::-moz-placeholder {
  color: #000000;
}
.form__name::placeholder {
  color: #000000;
}
.form__name:focus {
  border: 1px solid #323232;
  outline: none;
}
.form__name.error {
  border-color: #D22D2D;
}
.form__commentLable {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #AFAFAF;
  padding: 1.5rem 1rem 0.25rem 0;
}
.form__comment {
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  height: 100px;
  width: 100%;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
  padding: 0.75rem;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .form__comment {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .form__comment {
    padding: 1rem;
  }
}
.form__comment:active {
  border: 1px solid #323232;
}
.form__comment:focus {
  border: 1px solid #323232;
  outline: none;
}
.form__comment::-moz-placeholder {
  text-align: start;
  color: #000000;
  padding-top: 0;
  line-height: 1.4;
}
.form__comment::placeholder {
  text-align: start;
  color: #000000;
  padding-top: 0;
  line-height: 1.4;
}
.form__comment:not(:-moz-placeholder-shown) {
  border: 1px solid #E1E1E1;
}
.form__comment:not(:placeholder-shown) {
  border: 1px solid #E1E1E1;
}
.form__comment.error {
  border-color: #D22D2D;
}
.form__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  height: 2.5rem;
  background-color: #323232;
  text-transform: uppercase;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
}
.form__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .form__button {
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: self-end;
  }
}
.form__border {
  color: #E1E1E1;
}

.comment {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comment {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    padding: 2.25rem 15.625rem;
  }
}
.comment__align {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .comment__align {
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .comment__align {
    padding: 1rem;
  }
}
.comment__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 15%;
  border-radius: 50%;
  margin: 0.5rem;
  margin-top: 1rem;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .comment__avatar {
    height: 4rem;
    width: 10%;
  }
}
@media (min-width: 1280px) {
  .comment__avatar {
    height: 4rem;
    width: 10%;
  }
}
.comment__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comment__main {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media (min-width: 768px) {
  .comment__main {
    width: 92%;
  }
}
.comment__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.comment__name {
  padding: 0;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
}
.comment__date {
  justify-content: center;
  align-items: center;
  color: #E1E1E1;
}
.comment__text {
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  padding-bottom: 1rem;
  width: 100%;
  text-align: justify;
}
@media (min-width: 1280px) {
  .comment__text {
    text-align: left;
  }
}
.comment__border {
  color: #E1E1E1;
  padding: 0 2.25rem;
}/*# sourceMappingURL=bio.css.map */