@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography';
@use '../styles/partials/global' ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a{
    text-decoration: none;
  }

.hero{
    position:relative;
    display: flex;
    flex-direction: column;
    height:20rem;    
    background-image: url(../assets/images/hero-shows.jpg);
    background-size: cover;
    background-position: center;

    &__overlay{
        position:absolute;
        background-color: $bandsite-black;
        height:100%;
        width:100%;
        opacity: 0.5;
      }

      &__title{  
        z-index: 1;
        @include font-style('Avenir',26px,600,32px,$white);
        padding: 0 1rem 2rem 1rem;
        width:84%;
        
    }
    &__copy{
        z-index: 1;
        @include font-style('Avenir',16px,400,22px,$white);
        padding: 2rem 1rem ;
    }
    &__iframe{
      z-index: 1;
      padding:1rem;
    }
}

.shows{
  display:flex;
  flex-direction:column;

  &__title{
    @include font-style('Avenir',24px,700,32px,$bandsite-darkblack);
    padding: 1rem;
  }
  &__label-date{
    @include font-style('Avenir',13px,600,20px,$silver);
    padding: 1rem 1rem 0 1rem;
  }
  &__lable-venue{
    @extend .shows__label-date;
    padding: 0.5rem 1rem 0 1rem;
  }
  &__lable-location{
    @extend .shows__label-date;
    padding: 0.5rem 1rem 0 1rem;
  }

  &__date{
    @include font-style('Avenir',16px,700,20px,$bandsite-darkblack);
    padding:0.5rem 1rem 1rem 1rem;
  }
  &__venue{
    @include font-style('Avenir',16px,400,20px,$bandsite-darkblack);
    padding:0.5rem 1rem 1rem 1rem;
  }
  &__location{
    @include font-style('Avenir',16px,400,20px,$bandsite-darkblack);
    padding:0.5rem 1rem 0 1rem;
  }
  &__button{
    margin:1rem;
    border-radius: 4px;
    height:40px;
    background-color: $bandsite-black;
    text-transform: uppercase;
    @include font-style('Avenir',16px,600,20px,$white);

    &:hover{
      background-color: $bandsite-darkblack;
    }

  }
  &__hrborder{
    border-bottom:1px solid $mercury;
    width:100%;
  }
  }