@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography';
@use '../styles/partials/global' ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a{
    text-decoration: none;
  }

.hero{
    position:relative;
    display: flex;
    flex-direction: column;
    height:20rem;    
    background-image: url(../assets/images/hero-shows.jpg);
    background-size: cover;
    background-position: center;

    @include tablet{
      height:37rem;
    }

    &__overlay{
        position:absolute;
        background-color: $bandsite-black;
        height:100%;
        width:100%;
        opacity: 0.5;
      }

      &__title{  
        z-index: 1;
        @include font-style('Avenir',26px,600,32px,$white);
        padding: 0 1rem 2rem 1rem;
        width:84%;

        @include tablet{
          @include font-style('Avenir',60px,600,68px,$white);
          padding:0 2rem;
          // padding-bottom: 2rem;
        }
        
    }
    &__copy{
        z-index: 1;
        @include font-style('Avenir',16px,400,22px,$white);
        padding: 2rem 1rem ;

        @include tablet{
          @include font-style('Avenir',24px,600,32px,$white);
          padding:5rem 2rem;
          padding-bottom: 2rem;
        }
    }
    &__iframe{
      z-index: 1;
      padding:1rem;

      @include tablet{
        padding-left:2rem;
        width:60%;
        height:13rem;
      }
    }
}

.shows{
  display:flex;
  flex-direction:column;
  width:320px;

  @include tablet{
    width:100%;
    padding: 0 36px;
    padding-bottom: 36px;
  }
  // @include desktop{
  //   width:100%;
  //   padding: 0 36px;
    
  // }

  &__title{
    @include font-style('Avenir',24px,700,32px,$bandsite-darkblack);
    padding: 1rem;

    @include tablet{
      padding:42px 0;
      @include font-style('Avenir',40px,700,44px,$bandsite-darkblack);
    }
  }
  &__theader{
    @include tablet{
      display:flex;
      // gap:6rem;

      justify-content: flex-start;
      align-items: center;
    }
  }
  &__content{
    width:320px;
    padding-top: 16px;

    @include tablet{
      width:100%;
      display:flex;
      padding:16px 0;
      justify-content: space-between;
    }
  }
  &__label-date{
    @include font-style('Avenir',13px,700,20px,$silver);
    padding: 1rem 1rem 0 1rem;

    @include tablet{
      padding:0;
      width:12rem;
    }
  }
  &__lable-venue{
    @extend .shows__label-date;
    padding: 0.5rem 1rem 0 1rem;
    @include tablet{
      padding:0;
      width:10rem;
    }
  }
  &__lable-location{
    @extend .shows__label-date;
    padding: 0.5rem 1rem 0 1rem;
    @include tablet{
      padding:0;
    }
  }

  &__date{
    @include font-style('Avenir',16px,700,20px,$bandsite-darkblack);
    padding:0.5rem 1rem 1rem 1rem;
    @include tablet{
      padding:0;
      display:flex;
      align-items: center;
      width:10rem;
    }
  }
  &__venue{
    @include font-style('Avenir',16px,400,20px,$bandsite-darkblack);
    padding:0.5rem 1rem 1rem 1rem;
    @include tablet{
      display:flex;
      align-items: center;
      padding:0;
      width:8rem;
    }
  }
  &__location{
    @include font-style('Avenir',16px,400,20px,$bandsite-darkblack);
    padding:0.5rem 1rem 0 1rem;
    @include tablet{
      display:flex;
      align-items: center;
      padding:0;
    }
  }
  &__button{
    margin:1rem;
    border-radius: 4px;
    height:40px;
    width:90%;
    background-color: $bandsite-black;
    text-transform: uppercase;
    @include font-style('Avenir',16px,600,20px,$white);

    &:hover{
      background-color: $bandsite-darkblack;
    }

    @include tablet{
      width:27%;
      margin:0;
    }

  }
  &__hrborder{
    border-bottom:1px solid $mercury;
    width:100%;
  }
  }